body {
    margin: 0;
    padding: 30px;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

form label, form input, form textarea {
    display: inline-block;
}

form label {
    width: 40%;
    font-weight: 700;
}

form input, form textarea {
    flex: 1;
}

form div {
    display: flex;
    width: 100%;
    gap: 20px;
}

h1 {
    text-align: center;
}

form button {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #22c55e;
    font-size: 18px;
}

